<!DOCTYPE html>
<html ng-app="appMain">
<head>
	<title> SuddenSchema Demo</title>
	 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css">
	<style>
		html,body{margin:0;padding:0;}
	</style>
</head>
<body ng-controller='controllerMain'>
<md-button ng-click="fnParse()" class="md-raised">go</md-button>
<textarea ng-model="tmp.json" style="height:50%;width:100%;"></textarea>
	
<md-menu ng-if="objSchema.schema.keys" ng-repeat="strKey in objSchema.schema.keys">
	<div  ng-click="$mdOpenMenu($event)">
		{{strKey}} : {{objSchema.schema.vals[strKey].samples[0]}}
	</div>
          <md-menu-content width="2">
            <md-menu-item ng-repeat="item in [1, 2, 3]">
              <md-button > <span>Option</span> {{item}} </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-aria.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
<script src="../node_modules/suddenutils/utils.js"></script>
<script src="../node_modules/datatypetester/datatypetester.js"></script>
<script src="../SuddenSchema.js"></script>
<script>
var arrTest=["largeserver.net"];
for(var i=0;i<arrTest.length;i++){
	console.log( typeof arrTest[i] );
}


var app = angular.module('appMain', ['ngMaterial']).config(function($mdThemingProvider) {
	  $mdThemingProvider.theme('default').dark();
	});
app.controller('controllerMain', function($scope,$mdDialog) {
	$scope.tmp={};
	$scope.tmp.json='';
	//schema will have .keys flattened array and .vals collection to match once data is loaded
	$scope.objSchema = new SuddenSchema();
	$scope.openMenu = function($mdMenu,ev) {
      console.log($mdMenu,ev);
      $mdMenu.open(ev);
    };
	$scope.fnParse=function(){
		$scope.objSchema.schema = $scope.objSchema.newSchema(JSON.parse($scope.tmp.json));
		console.log($scope.objSchema.schema);
	};
	// schema.modSchema(arrData,$scope.objSchema[strColumnName]);
});
</script>
</body>
</html>
